.swiper-container {
  width: 600px;
  height: 300px;
}

.swiper-slide {
  text-align: center;
}


.image {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}
