body {
  font-family: 'Ubuntu' !important;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  background-color: transparent;
  /*background-color: black;*/
  overflow: hidden;

  color:white;
}

.ruler {
  position: absolute;
}

#ruler-left {
  border-left: 20px solid rgba(133, 192, 87,1.0);
  border-bottom: 50px solid transparent;
  border-top: 10px solid rgba(133, 192, 87,1.0);
}

#ruler-center {
  background-color: rgba(133, 192, 87, 1.0);
  height: 10px;
  left: 20px;
  right: 20px;
}

#ruler-right {
  border-right: 20px solid rgba(133, 192, 87,1.0);
  border-bottom: 50px solid transparent;
  border-top: 10px solid rgba(133, 192, 87,1.0);
  right: 0;
}

